<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="testappWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <testappWPF.Properties.Settings>
            <setting name="Samples" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColorProfile" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Exposure" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowDenoised" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SkyIntensity" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="SunIntensity" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="SunElevation" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="SunRotation" serializeAs="String">
                <value>135</value>
            </setting>
            <setting name="TransparentBackground" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="WindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>-1</value>
            </setting>
        </testappWPF.Properties.Settings>
    </userSettings>
</configuration>